@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Lato", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.banner-container{
    width: 1339px;
    height: 474px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 15px;
    background-color: #fceef1;
    padding-bottom: 160px;
    display: flex;
    margin-bottom: 30px;
}


.text-content{
    width: 45%;
    height: 580PX;
    /* border: 2px solid red; */
    margin: 50px; 
    margin-right: 30px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.text-content h1{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-right: 95px;
}
.text-content p{
  font-size: 18px;
  margin-bottom: 30px;
}
.text-content button{
   padding: 10px 20px;
   background-color: #e55473;
   border: none;
   border-radius: 5px;
   margin-right: 419px;
   
}


.img-content{
    width: 45%;
    height: 580PX;
    /* border: 2px solid red; */
    margin: 50px; 
    margin-left: 30px;
    
}

.img-content img{
    width: 460px;
}


/* Featured flower section */
.flower-content{
    text-align: center;
    margin-top: 100px;
}
.flower-content h1{
    margin-bottom: 20px;
}

.feature-flower-container{
    width: 960px;
    height: 432px;
    /* border: 2px solid red; */
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* pink */
.pink{
    width: 300px;
    height: 350px;
    /* border: 2px solid red; */
    background-color: #f2dee8;
    border-radius: 50% 50% 0 0;
}

.pink img{
    width: 200px;
    margin-left: 55px;
    margin-top: 74px;
}
.text-pink{
    margin-left: 104px;
    margin-top: 10px;
}
.text-pink a{
    color: #000000;
}

/* golap */
.golap{
    width: 300px;
    height: 350px;
    /* border: 2px solid red; */
    background-color: #daf0f1;
    border-radius: 50% 50% 0 0;
}

.golap img{
    width: 200px;
    margin-left: 70px;
    margin-top: 115px;
}
.text-golap{
    margin-left: 104px;
    margin-top: 10px;
}
.text-golap a{
    color: #000000;
}


/* lotas */
.lotas{
    width: 300px;
    height: 350px;
    /* border: 2px solid red; */
    background-color: #e4ecdc;
    border-radius: 50% 50% 0 0;
}

.lotas img{
    width: 200px;
    margin-left: 65px;
    margin-top: 49px;
}
.text-lotas{
    margin-left: 104px;
    margin-top: 10px;
}
.text-lotas a{
    color: #000000;
}


/* portfolio section */
.portfolio-contailer{
    width: 960px;
    height: 171px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 68px;
    background-color: #f4f4f4;
    margin-bottom: 70px;
}

.port-img-1{
    margin-left: 75px;
    margin-bottom: 7px;
}

.port-img-2{
    margin-left: 65px;
    margin-bottom: 7px;
}

.port-img-3{
    margin-left: 18px;
    margin-bottom: 7px;
}


/* Hot Deal section */
.hot-deal-container{
    width: 1339px;
    height: 374px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 15px;
    background-color: #fceef1;
    padding-bottom: 160px;
    display: flex;
    margin-bottom: 30px;
}


.hot-deal-text-content{
    width: 45%;
    height: 580PX;
    /* border: 2px solid red; */
    margin: 50px; 
    margin-right: 30px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.hot-deal-text-content h1{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
    /* margin-right: 95px; */
}

.color-red{
    color: red;
}

.hot-deal-text-content p{
  font-size: 15px;
  margin-bottom: 30px;
  text-align: center;

}
.hot-deal-text-content button{
   padding: 10px 20px;
   background-color: #e55473;
   border: none;
   border-radius: 5px;
   /* margin-right: 419px; */
   
}


.hot-deal-img-content{
    width: 45%;
    height: 580PX;
    /* border: 2px solid red; */
    margin: 50px; 
    margin-left: 30px;
    
}

.img-content img{
    width: 460px;
}


/* instagram section */
.instagram-container{
    width: 960px;
    height: 418px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 70px;
    margin-top: 50px;
    padding-top: 30px;
}

.instagram-container h1, p{
    text-align: center;
    margin: 20px 0 ;
}


.ins-image{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.ins-image img{
    width: 225px;
}


/* Get the latest deal section  */
.latest-deal{
    width: 960px;
    height: 300px;
    /* border: 2px solid red; */
    background-image: linear-gradient( rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url('Flower Asset/Rectangle\ 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 1px;  
}

.latest-deal h1{
    font-size: 35px;
    margin-top: 70px;
}
.latest-deal h1{
    opacity: 0.8;
}

.latest-deal input{
    padding: 13px 0;
    padding-left: 30px;
    padding-right: 200px;
    margin-top: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.latest-deal button{
   padding: 12px 20px;
   border: none;
   background-color: #e55473;
   color: #ffffff;
   font-size: 15px;
   border-radius: 5px;
   margin-left: 5px;
}


/* footer section */
.footer{
    width: 1339px;
    height: 240px;
    /* border: 2px solid red; */
    background-color: #000000;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 85px;
    margin-top: 80px;
    
}

.red-color{
    color: red;
}


